<table>
  <tr>
    <td>
      <h3>All Robots</h3>
    </td>
  </tr>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @robots.each do |robot| %>
  <tr>
    <td><%= robot.name %></td>
    <td><%= robot.user.email %></td>
    <td><%= link_to 'View page', robot %> |
    <% if current_user == robot.user%>
      <%= link_to 'Edit', edit_robot_path(robot) %> |
      <%= link_to 'Delete', robot, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
    </tr>
<% end %>
</table>
