<table>
    <tr>
      <td><b>Robot:</b></td>
      <td><%= @robot.name %></td>
    </tr>

    <tr>
      <td><b>Model:</b></td>
      <td><%= @robot.model %></td>
    </tr>

    <tr>
      <td><b>Description:</b></td>
      <td><%= @robot.description %></td>
    </tr>

    <tr>
      <td><b>Hardware:</b></td>
      <td><%= @robot.hardware %></td>
    </tr>

    <tr>
      <td><b>Software:</b></td>
      <td><%= @robot.software %></td>
    </tr>

    <tr>
      <td><b>Applications:</b></td>
      <td><%= @robot.applications %></td>
    </tr>
    <% if current_user == @robot.user %>
    <tr>
      <td>
        <p>
          <%= link_to 'Edit', edit_robot_path(@robot) %> |
          <%= link_to 'Back', root_path %>
        </p>
      </td>
    </tr>
    <% else %>
      <tr>
        <td>
            <p>
              <%= render 'track_form' if signed_in? %>
            </p>
        </td>
    </tr>
    <% end %>
</table>
<% if current_user == @robot.user %>
  <table>
   <tr>
     <td><p>Make a new roblog entry...<p></td>
   </tr>
   <tr>
     <td><%=render 'microposts/micropost_form'%></td>
   </tr>
  </table>
<% end %>

<% unless @robot.microposts.empty? %>
  <table class="microposts" summary="Robot microposts">
     <%= render @microposts %>
   </table>
   <%= will_paginate @microposts %>
<% end %>