<header>
<nav class="round">
  <ul>
    <%= link_to "Home", root_path%>
    <%= link_to "Robots", robots_path%>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </ul>
</nav>
  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>
  <% else  %>
      Not a member? It's free to <%= link_to "sign up", new_user_registration_path %>!
  <% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</header>