<!DOCTYPE html>
<html>
<head>
  <title>RoboTracker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <!--<link type="text/css" href="css/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />-->
  <!--<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>-->
  <!--<script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>-->
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <%= render 'layouts/header' %>
  <div class="content main">
     <% if user_signed_in? %>
      Signed in as <%= current_user.email %>
  <% else %>
      Not a member? It's free to <%= link_to "sign up", new_user_registration_path %>!
  <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <br/>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
