<!DOCTYPE html>
<html>
<head>
  <title>Robots</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <!--<link type="text/css" href="css/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />-->
  <!--<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>-->
  <!--<script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>-->
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <table>
    <tr>
      <%= render 'layouts/header' %>
    </tr>
    <tr>
      <% if user_signed_in? %>
          Signed in as <%= current_user.email %>
      <% else %>
          Not a member? It's free to <%= link_to "sign up", new_user_registration_path %>!
      <% end %>
    </tr>
    <tr>
      <p class="notice"><%= notice %></p>

      <p class="alert"><%= alert %></p>
    </tr>
    <tr>
      <div class="container content main">
          <div style="width:640px; margin:0 auto">
            <%= yield %>
        </div>
      </div>
    <tr>
      <%= render 'layouts/footer' %>
    </tr>
  </table>
</div>
</body>
</html>
