<!DOCTYPE html>
<html>
<head>
  <title>Robots</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
   <table>
     <tr>
        <%= render 'layouts/header' %>
     </tr>
     <tr>
       <section class="round">
         <%= yield %>
       </section>
     </tr>
   </table>
  </div>
</body>
</html>
